

/*
1 jeu, 2 joueurs

1 plateau 9 cases

3 niveaux de composants => 
	Jeu composé d'un tableau
	Plateau composé de case
*/

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #1d1e22;
  color: #fefefe;
}

ol, ul {
  padding-left: 30px;
}

.plateau {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 20%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 150Px;
}

.plateau-row:after {
  clear: both;
  content: "";
  display: table;
}

.plateau-info {
  margin-left: 20px;
}

.status {
  margin-bottom: 10px;
}

.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.cell:hover{
	cursor: pointer;
}

/*.cell.actif:hover{
  cursor: default!important;
}
*/
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}


