body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#titre{
    position: relative;
    display: flex;
}

#plateau{

}

.cell{
	list-style-type: none;
	background: #FFF;
	height: 34px;
	width: 34px;
	border: 1px solid #999;
	float: left;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
}

/*
1 jeu, 2 joueurs

1 plateau 9 cases

3 niveaux de composants => 
	Jeu composé d'un tableau
	Plateau composé de case
*/